<!-- Alternating Stak/Divs and Content -->
{% for item in post.get_field('your_repeater_field') %}
{% if loop.index % 2 %}
<div class="stak">
  <div class="row">
    <div class="small-12 columns">
      <div>
        <h3>{{item.title}}</h3>
        <p>{{item.content}}</p>
      </div>
    </div>
    <div class="small-12 medium-2 columns">
      <img src="{{TimberImage(item.image).src}}">
    </div>
  </div>
</div>

{% else %}
<div class="alt-stak"> <!-- Alternate Content -->
  <div class="row">
    <div class="small-12 columns">
      <div>
        <h3>{{item.title}}</h3>
        <p>{{item.content}}</p>
      </div>
    </div>
    <div class="small-12 columns">
      <img src="{{TimberImage(item.image).src}}">
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
