<!-- Gets Wordpress Menu Items -->
{% for item in menu_support.get_items %}
{% if item.get_children %}
<ul class="foo">
  {% for child in item.get_children %}
  <li class="foo"><a href="{{child.get_link}}">{{child.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
